.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -200px;
  z-index: -1;
}

.banner-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin: auto;
}

.gen-product-container {
  display: flex;
  flex-direction: row;
  z-index: 100;
}
