.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.product-header {
  display: flex;
  flex-direction: column;
}

.product-container > img {
  height: 300px;
  width: 290px;
}
