.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: white;
  margin: 30px;
}

.product-header {
  display: flex;
  flex-direction: column;
}

.product > img {
  height: 50px;
  width: 90px;
  object-fit: fill;
}

.product > button{
  background-color: rgb(255, 187, 0);
  border: 1px solid black;
}
