.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: white;
  margin: 5px 15px 29px 10px;
  padding: 10px;
}

.product-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.price {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.product > img {
  height: 200px;
  width: 200px;
  object-fit: fill;
}

.product > button {
  background-color: rgb(255, 187, 0);
  border: 1px solid black;
  margin: 20px 0;
}

.ratings {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
