.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -200px;
}

.banner-img {
  height: 500px;
  width: 1200px;
  max-width: 1150px;
  object-fit: cover;
  z-index: -1;
  margin: auto;
}

.gen-product-container {
  background-color: red;
  z-index: 1;
}

